<h3>Greetings,</h3>

<div>Welcome to sreenivas a project management application exclusively designed and crafted for auditors. Our endeavour is to make your life easy and eliminate all the hassles that are generally discovered while you conduct important audits.
  Let’s have a look with few capabilities of sreenivas </div>
<div>
  <br/><br/>
  <b>Features:</b>
<ul>
  <li><b><i>InstaAudits</i></b> -Create Instant audits and immediately begin with finding assignments </li><br/>
  <li><b><i>InstaSearch</i></b> - Search audits and findings with our powerful search feature </li><br/>
  <li><b><i>InstaFollowUp</i> </b>- Follow-up for CAPA, Closures within the application. </li><br/>
  <li><b><i>InstaStats</i></b> - Keep an eye on important audit events by using our InstaStats feature </li><br/>
  <li><b><i>InstaNotify</i></b> - Get alerts and notifications on important events and keep yourself ahead of audits. Notify auditors and auditee’s the moment audits are created </li><br/>
  <li><b><i>InstaSchedule</i></b> - Generate instant audit schedules and share them with intended participants </li><br/>
  <li>Our mission is to grow the application by adding value features and providing an edge to your professional audits. </li><br/>
<div>
  Enjoy your audit experience and do let us know of any issue or feedback by writing at <a href="support@sreenivas.com?Subject=Need Support" target="_top">
support@sreenivas.com</a>
  </div>
  <p>
    Follow us <a href="https://twitter.com/sreenivas">https://twitter.com/sreenivas </a></p>
  <br/><br/>
  <p>Cheers,</p>
<p>16columns crew</p>
